<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assets Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: white;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #ffffff;
        }
        .sub-entry {
            width: 50%;
            float: left;
        }
        
    </style>
</head>

<body>
    <ul>
        <li><a href="#">Import Data</a></li>
        <li><a href="./search_r">Search Data</a></li>
        <li><a href="./capax">Capax</a></li>

    </ul>
    <div class="row">
        <div class="container">
            <h3 class="col-sm-6">Assets Management</h3>
            <legend class="col-sm-6">Revenue</legend>
            <form action="/next" method="GET">
                <div class="sub-entry col-sm-6">
                <div class="form-group">
                    <label for="exampleserailNumber">Serial Number</label>
                    <input type="text" class="form-control snumber" name="exampleserailNumber" id="exampleserailNumber"
                      readonly="readonly"  value="<%=exampleserailNumber %>" placeholder="Enter Serial Number" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="exampleSapCode">Sap Code</label>
                    <input type="text" class="form-control sapcode" name="exampleSapCode" id="exampleSapCode"
                      readonly="readonly"  placeholder="Enter Sap Code" value="<%= exampleSapCode %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="exampleMaterialCode">Material Code</label>
                    <input type="text" class="form-control materialcode" name="exampleMaterialCode"
                      readonly="readonly"  id="exampleMaterialCode" value="<%= exampleMaterialCode %>" placeholder="Enter Material Code"
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="exampleMaterialQuantity">Material Quantity</label>
                    <input type="number" class="form-control materialquantity" name="exampleMaterialQuantity"
                      readonly="readonly"  id="exampleMaterialQuantity" value="<%= exampleMaterialQuantity %>"
                        placeholder="Enter Material Quantity" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="examplepoNumber">PO Number</label>
                    <input type="text" class="form-control ponumber" name="examplepoNumber" id="examplepoNumber"
                     readonly="readonly"   value="<%= examplepoNumber %>" placeholder="Enter PO Number" autocomplete="off">
                </div>
            </div>
            <div class="sub-entry col-sm-6">
                <div class="form-group">
                    <label for="examplepoDate">PO Date</label>
                    <input type="date" class="form-control podate" name="examplepoDate" id="examplepoDate"
                      readonly="readonly" value="<%= examplepoDate %>" placeholder="Enter PO Date" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="exampleInvoiceDate">Invoice Date</label>
                    <input type="date" class="form-control invoicedate" name="exampleInvoiceDate"
                      readonly="readonly" value="<%= exampleInvoiceDate %>" id="exampleInvoiceDate" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="exampleRecieveDate">Receive Date</label>
                    <input type="date" class="form-control receivedate" name="exampleRecieveDate"
                      readonly="readonly" value="<%= exampleRecieveDate %>" id="exampleRecieveDate" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="exampleModel">Model</label>
                    <input type="text" class="form-control model" name="exampleModel" value="<%= exampleModel %>"
                      readonly="readonly" id="exampleModel" autocomplete="off" placeholder="Enter Model">
                </div>
                <div class="form-group">
                    <label for="exampleModelDescp">Model Description</label>
                    <textarea rows="6" cols="70" type="textarea" class="form-control modeldescp"
                    style="height:211px;" disabled="disabled" name="exampleModelDescp" id="exampleModelDescp" autocomplete="off"
                        placeholder="Enter Model Description"> </textarea>
                </div>
            </div>
                <button type="next" class="btn btn-success" id="next">Next</button>
                <button type="prev" class="btn btn-success" formaction="/prev" id="prev">Prev</button>
                <button type="del" class="btn btn-danger" formaction="/capax_dl" id="del">Delete</button>
               
            </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
    <!-- <script src="app_c.js"></script> -->
</body>